h1
{
    font-size: 26pt;
    text-align: center;
}

h2
{
    text-align: center;
}

.yellow-title
{
    background-color: yellow;
}

.cyan-abbr
{
    background-color: cyan;
}

#sky-blue
{
    background-color: lightskyblue;
}